  
        <!-- Equipo de desarrollo -->
        <div class="space-y-8  h-90 ">
            <h2 class="text-3xl font-bold text-indigo-600">Nuestro Equipo</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
              <!-- Miembro 1 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/tecorralco.png" alt="Teco" />
                <p class="mt-4 text-lg font-semibold text-sky-700">Diego Salvador Tecorralco Martínez</p>
                <p class="text-sm text-gray-500">Desarrollador Back-End</p>
              </div>
    
              <!-- Miembro 2 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/carlos.png" alt="Carlos Isaac Fosado Escudero" />
                <p class="mt-4 text-lg font-semibold text-sky-700">Carlos Isaac Fosado Escudero</p>
                <p class="text-sm text-gray-500">Documentador</p>
              </div>
    
              <!-- Miembro 3 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/ailton.png" alt="Ailton Artiaga Quiroga" />
                <p class="mt-4 text-lg font-semibold text-gray-900">Ailton Artiaga Quiroga</p>
                <p class="text-sm text-gray-500">Desarrollador Mobil</p>
              </div>
    
              <!-- Miembro 4 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/agus.png" alt="José Agustín Jiménez Castillo" />
                <p class="mt-4 text-lg font-semibold text-gray-900">José Agustín Jiménez Castillo</p>
                <p class="text-sm text-gray-500">Desarrollador IoT</p>
              </div>
    
              <!-- Miembro 5 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/co.png" alt="Marcos Jesús Ríos Durán" />
                <p class="mt-4 text-lg font-semibold text-gray-900">Marcos Jesús Ríos Durán</p>
                <p class="text-sm text-gray-500">Desarrollador Front-End</p>
              </div>
    
              <!-- Miembro 6 -->
              <div class="flex flex-col items-center text-center">
                <img class="h-32 w-32 rounded-full object-cover transform transition-transform duration-300 hover:scale-110" src="assets/juve.png" alt="Juvenal Viveros Martínez" />
                <p class="mt-4 text-lg font-semibold text-gray-900">Juvenal Viveros Martínez</p>
                <p class="text-sm text-gray-500">Desarrollador DevOps</p>
              </div>
            </div>
          </div>