.flex-\[0\.88\] {
    overflow: hidden; /* Evita el scroll en el contenedor principal */
  }
  /* From Uiverse.io by elijahgummer */ 
/* Animación para el botón "Regístrate" */
@keyframes bounce-up {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Animación para el botón "Iniciar sesión" */
  @keyframes bounce-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  
  /* Aplicar animaciones a los botones */
  .animate-bounce-up {
    animation: bounce-up 1.8s infinite;
  }
  
  .animate-bounce-down {
    animation: bounce-down 1.8s infinite;
  }