.flex-\[0\.88\] {
    overflow: hidden; /* Evita el scroll en el contenedor principal */
  }
 /* Animación para ambos botones */
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px); /* Sube */
  }
  50% {
    transform: translateY(0); /* Vuelve al centro */
  }
  75% {
    transform: translateY(10px); /* Baja */
  }
}

/* Aplicar animaciones a los botones */
.animate-bounce-up {
  animation: wave 2s infinite;
}

.animate-bounce-down {
  animation: wave 2s infinite;
  animation-delay: 1s; /* Retraso para que estén desfasados */
}