<footer class="bg-cyan-600 text-white py-4 w-full absolute bottom-0">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <p class="text-sm">&copy; 2025 RollCall Automatizacion de acceso. Todos los derechos reservados.</p>
      <div class="flex space-x-4">
        <a href="#" class="hover:text-sky-400">Aviso de privacidad</a>
        <a href="#" class="hover:text-sky-400">Términos y condiciones</a>
        <a href="#" class="hover:text-sky-400">Contacto</a>
      </div>
    </div>
  </footer>
